.chat-main
  .chat-main__header
    .chat-main__header__left
      .chat-main__header__left__upper
        %p.group-name GROUP NAME
      .chat-main__header__left__bottom
        .members member:
    .chat-main__header__right
      =link_to "", class: "mh-link" do
        = icon('fas', 'users-cog',  class: "main-icon")
        %span<>
        .chat-main__header__right__bottom
          EDIT
  .chat-main__messages
    .message
      .message__upper-box
        .message__upper-box__user-name
          USER NAME
        .message__upper-box__date
          DATE
      .message__lower-box
        .user-avator
          %img
        .user-posts
          .sentence
            hello
          %img
  .chat-main__form
    = form_with model: [@group, @message], do |f|
      .new-message
        = f.text_field :content, class: "input-message", placeholder: "Type a message"
        = f.label class: 'form-label'
          = icon('far', 'file-image',  class: "main-icon")
          = f.file_field :image, class: "upload-image", multiple: true
      = f.submit class: "send-btn"
        
